.searchBar {
    display: flex;
    justify-content: flex-end;
    margin-right: 1.5rem;
    padding-top: 0%;
    
}

.find {
 margin-left: 52rem;
 padding-top: 0.5rem;
white-space: nowrap;
font-weight: bold;
font-size: 0.7rem;

}

