
.header {
  display: flex;
  justify-content: space-between;
    background-color:darkcyan;
    padding-top: 2.5rem;
    padding-left: 6rem;

}

.navBar {
    margin-right: 7rem;
    color: white;
    display: inline;
  
 }
 

.pageTitle {
  font-size: 3rem;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}



     