@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');

.navBar {
    font-family: 'Archivo Narrow', sans-serif;

    padding-left: 3rem;
}

.navBar1 {
    font-family: 'Archivo Narrow', sans-serif;
    padding-left: 2rem;
}
    
    