.searchBar {
    display: flex;
    justify-content: flex-end;
    margin-right: 1.5rem;
    padding-top: 0%;
    padding-bottom: 4rem;
    
}

.find {
 margin-left: 59rem;
 padding-top: 0.2rem;
white-space: nowrap;
font-weight: bold;
font-size: 0.8rem;

}

.searchTabel {
    padding-top: 5rem;
}

.searchText {
    padding-left: 0%;
}

