.searchBar {
    display: flex;
    justify-content: flex-end;
    margin-right: 1.5rem;
    padding-top: 0%;
    padding-bottom: 4rem;
    
}

.find {
 margin-left: 59rem;
 padding-top: 0.2rem;
white-space: nowrap;
font-size: 0.8rem;

}
/* 
advanceSearch style */

.searchTabel {
    padding-top: 5rem;
  margin-left: 3rem;
}

.searchText {
    padding-left: 0%;
    font-size: 1rem;
    text-align: center;
}

.keySearch {
    margin-right: 5rem;

}


.authorSearch {
    margin-right: 5rem;
}


.titleSearch {
    margin-right: 5rem;

    

}

