.searchBar {
    display: flex;
    justify-content: flex-end;
    margin-right: 1.5rem;
    padding-top: 0%;
    padding-bottom: 4rem;
    

}

.find {
 margin-left: 59rem;
 padding-top: 0.2rem;
white-space: nowrap;
font-size: 0.8rem;

}

/* 
advanceSearch style below*/


--border-size: 2px;
--background-color: rgb(67, 134, 223);

.searchTabel {
margin-top: 15rem;
   margin-left: 3rem;
}



.searchText {
    padding-left: 0%;
    font-size: 1rem;
    text-align: center;
}

.keySearch {
    margin-right: 5rem;
    position: relative;
    --border-size: 2px;
    --accent-colour: darkcyan;
    margin-top: 5rem;
}

.keySearch::before {
    content:'';
    position: absolute;
    left:0;
    right:0;
    bottom: 0;
    height: var(--border-size);
    background-color: var(--accent-colour);
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
 
}

.keySearch:hover::before,
.keySearch:focus::before {
    transform: scaleX(1)
}


.authorSearch {
    margin-right: 5rem;
    position: relative;
    --border-size: 2px;
    --accent-colour: darkcyan;
}

.authorSearch::before {
    content:'';
    position: absolute;
    left:0;
    right:0;
    bottom: 0;
    height: var(--border-size);
    background-color: var(--accent-colour);
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
 
}

.authorSearch:hover::before,
.authorSearch:focus::before {
    transform: scaleX(1)
}


.titleSearch {
    margin-right: 5rem;
    position: relative;
    --border-size: 2px;
    --accent-colour: darkcyan;
}

.titleSearch::before {
    content:'';
    position: absolute;
    left:0;
    right:0;
    bottom: 0;
    height: var(--border-size);
    background-color: var(--accent-colour);
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
 
}

.titleSearch:hover::before,
.titleSearch:focus::before {
    transform: scaleX(1)
}

.searchButton {
    position: relative;
    --border-size: 2px;
    --accent-colour: darkcyan;
    margin-bottom: 2rem;
}

.searchButton::before {
    content:'';
    position: absolute;
    left:0;
    right:0;
    bottom: 0;
    height: var(--border-size);
    background-color: var(--accent-colour);
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
 
}

.searchButton:hover::before,
.searchButton:focus::before {
    transform: scaleX(1)
}