@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

* {
    font-family: 'Oswald', sans-serif;
}
.added {
 float: right;
 padding-right: 1rem;
 background-color:darkcyan;
 padding-top: 2.5rem;
 padding-left: 6rem;
 color: white;
}

.bookPage {
  text-align: center;
  font-size: 2rem;
}

.basketButton {
  float: right;
}

.basketText {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  font-size: 2.4rem;

}