@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

* {
    font-family: 'Oswald', sans-serif;
}
.added {
 text-align: right;
 padding-right: 2rem;
}

.bookPage {
  text-align: center;
  font-size: 2rem;
}