@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');

:root {
    font-family: 'Oswald', sans-serif;
}

.title {
    text-align: center;
    padding-top: 3rem;
    font-size: 3.5em;
}
.lib {
    margin-top: 2rem;
    width: 95vw;
    height: 45vh;
    margin-left: 2rem;
    margin-top: 0%;
    
}

.homeP1 {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}