
.homeP {
    font-size: 1rem;
    padding-top: 5rem;
    display: flex;
    justify-content: center;
}

.homeBtn {
    font-size: 0.5rem;
    margin-left: 45%;
    width: 10%;
    border-radius: 7%;
    background-color:  lightblue;
    display: inline;
}

.lib {
    margin-top: 2rem;
    width: 95vw;
    height: 45vh;
    margin-left: 2rem;
    margin-top: 0%;
    
}

.homeP1 {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}